<div class="wc-bracket-match placeholder-match">

	<div class="wc-bracket-team">

		<div class="wc-bracket-team-info">

			<div class="wc-placeholder-logo"></div>

			<span class="wc-placeholder-team">
				TBD
			</span>

		</div>

		<span class="wc-placeholder-score">
			-
		</span>

	</div>

	<div class="wc-bracket-team">

		<div class="wc-bracket-team-info">

			<div class="wc-placeholder-logo"></div>

			<span class="wc-placeholder-team">
				TBD
			</span>

		</div>

		<span class="wc-placeholder-score">
			-
		</span>

	</div>

</div>