#danger-zone-card {
    max-width: 800px;
    background-color: #faf3dd;
    margin: auto;
    border-width: 3px;
}

#danger-zone-name{
    background-color: #dc3545;
    width: 75%;
    font-size: 1.5em;
    border-radius: 0.2em;
    color: whitesmoke !important;
}


#danger-zone-name p{
    margin: 0;
    padding: 0.2em;
}

.delete-account-section {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    max-width: 85%;
    border: 2px dotted #dc3545;
    padding: 0.85rem;
}

.deactivate-account-section {
    min-width: 70%;
    border: 2px dashed #ffc107;
    padding: 0.85rem;
}

.change-password-section {
    min-width: 70%;
    border: 5px double #3370a8; 
    padding: 0.85rem;
}

#changePasswordForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-change-password,
.btn-change-password2 {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-change-password:hover,
.btn-change-password:focus {
    text-shadow: 0px 1px 1px black;
    border: 2px #0b5ed7 solid;
    color: #0b5ed7;
    background-color: white;
    transform: scale(1.1);
}

.btn-change-password2:hover,
.btn-change-password2:focus {
    color: white;
    background-color: #0a58ca;
    opacity: 1;
}

.btn-change-password:active,
.btn-change-password.active,
.btn-change-password2:active,
.btn-change-password2.active {
    background-color: #0a58ca;
    border-color: #0a53be;
}

.btn-change-password:disabled,
.btn-change-password2:disabled {
    background-color: #0d6efd;
    border-color: #0d6efd;
    opacity: 0.65;
}

.btn-change-password:focus,
.btn-change-password2:focus {
    text-shadow: 0px 1px 1px black;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}

.btn-change-password2 .bi-check-circle {
    color: #0d6efd !important;
}

.delete-account-section p,
.deactivate-account-section p,
.change-password-section p {
    font-size: 0.85em;
    line-height: 0.85rem;
}

.delete-account-section:hover p.hover-animate,
#deleteAccountBtn:hover  p.hover-animate {
    display: inline-block;
    animation: heartBeat 2s infinite;
}

#deleteAccountBtn,
#deactivateAccountBtn,
.btn-change-password {
    border: 2px black solid;
    transition: all 0.2s ease;
}

#deleteAccountBtn:hover,
#deleteAccountBtn:focus {
    text-shadow: 0px 1px 1px black;
    border: 2px red solid;
    color: #dc3545;
    background-color: white;
    transform: scale(1.1);
}

#deleteAccountBtn:active,
#deleteAccountBtn.active {
    background-color: #dc3545;
    border-color: #dc3545;
}


#deactivateAccountBtn:hover,
#deactivateAccountBtn:focus {
    text-shadow: 0px 1px 1px #ffc107;
    border: 2px #ffc107 solid;
    color: black;
    background-color: white;
    transform: scale(1.1);
}

#deleteAccountBtn:focus {
    text-shadow: 0px 1px 1px black;
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}

#deactivateAccountBtn:focus {
    text-shadow: 0px 1px 1px black;
    box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25);
}

.btn-close-custom,
.btn-close-custom2,
.btn-close-custom3 {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.7;
    transition: all 0.2s ease;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    line-height: 1;
    color: #6c757d;
    padding: 0;
}

.btn-close-custom2 {
    color: whitesmoke;
}


.btn-close-custom3 {
    color: darkred !important;
}

.btn-close-custom:hover,
.btn-close-custom2:hover,
.btn-close-custom3:hover{
    opacity: 1;
    color: #dc3545;
    transform: scale(1.1);
}

/* Delete Account border animation */
#deleteAccountModal .modal-content {
    animation: pulse-border-red 2s infinite;
}
/* Deactivate Account border animation */
#deactivateAccountModal .modal-content {
    animation: pulse-border-yellow 2s infinite;
}

/* Change Password border animation */
#changePasswordModal .modal-content {
    animation: pulse-border-blue 2s infinite;
}

#confirmationPhrase.is-valid {
    border-color: #198754 !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}

#confirmationPhrase.is-invalid {
    border-color: #dc3545 !important;
}

#confirm-check{
    font-size: 1.2em;
}

.modal-header h5 {
    text-align: center;
    text-shadow: 0px 1px 1px black;
}

#changePasswordForm .modal-body div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.password-container {
    position: relative;
    max-width: 100%;

}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: transparent;
    border: #0d6efd;
    padding: 0 8px;
    cursor: pointer;
}


.password-container input[type="password"],
.password-container input[type="text"] {
    padding-right: 40px;
}


#change-password-header {
    background-color: #0d6efd !important;
}

#change-password-header h5,
#change-password-header.btn-close-custom {
    color: white !important;
}


/* Validation messages */
.danger-info.field-validation-valid {
    display: none !important;
}

.danger-info.field-validation-error {
    display: inline-block !important; 
    max-width: 100%;
    white-space: normal;
    word-wrap: break-word;
    margin-top: 0.25rem;
    padding: 0.25em 0.4em;
    background-color: #10b981;
    color: black !important;
    font-size: 12px;
    border-radius: 0.5em;
}