.forgot-password-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#forgot-password-title {
    margin-top: 3.5em;
}

.reset-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset-password-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#email-forgot-password {
    width: 25em;
}

#email-reset-password,
#password-reset-password,
#re-password-reset-password {
    width: 20em;
}
