@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Nunito:ital,wght@0,606;1,606&family=Special+Gothic+Expanded+One&display=swap');


.matchFixer {
    font-family: "Special Gothic Expanded One", sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    text-shadow: 5px 20px 20px rgba(0,0,0, 0.8);
    filter: contrast(175%);
}

.abreviature {
    font-family: "Special Gothic Expanded One", sans-serif !important;
    font-weight: 500 !important;
    font-style: normal !important;
    color: #0DAB76;
    font-size: 1.3em;
    text-shadow: 5px 20px 30px rgba(0,0,0, 0.8);
    filter: contrast(120%);
}

.pulse-goal {
    font-size: 2em;
    animation: goalPulse 3s infinite;
    color: #0d6efd;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}

@keyframes goalPulse {
    0%, 100% {
        letter-spacing: normal;
    }

    50% {
        letter-spacing: 2px;
    }
}

.shaky-text:hover {
    animation: shaky 0.8s infinite;
    cursor: pointer;
}

@keyframes shaky {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(2px, -2px);
    }

    50% {
        transform: translate(-2px, 2px);
    }

    75% {
        transform: translate(2px, 2px);
    }

    100% {
        transform: translate(0, 0);
    }
}


.ball-wrapper {
    position: absolute; 
    top: 3em;
    left: 0;
    width: 100vw;
    height: 9em;
    overflow: hidden;
    pointer-events: none;
}

.animated-ball {
    position: absolute;
    animation: bounceAndRoll 12s linear;
    width: 80px;
    will-change: transform;
    pointer-events: none;
    object-fit: contain;
    image-rendering: auto;
    z-index: 10;
}

.soccer-hero{
    margin-top: 7em;
    z-index: 20;
}

@keyframes bounceAndRoll {
    0% {
        left: -80px;
        bottom: 0;
        transform: translateX(-120px) rotate(0deg);
    }

    20% {
        bottom: 30px;
    }

    40% {
        bottom: 20px;
    }

    60% {
        bottom: 30px;
    }

    80% {
        bottom: 0;
    }

    100% {
        left: 100%;
        bottom: 0;
        transform: translateX(110vw) rotate(1080deg);
    }
}

#welcome {
    max-width: 100%;
    height: auto;
    font-family: "Special Gothic Expanded One", sans-serif !important;
    font-weight: 900 !important;
    font-style: normal !important;
    font-size: 3em;
    color: #0DAB76;

}

#rightDrawer::-webkit-scrollbar,
#rightDrawer2::-webkit-scrollbar {
    width: 0em;
}

#rightDrawer::-webkit-scrollbar-track,
#rightDrawer2::-webkit-scrollbar-track {
    background: #0DAB76; /* Color of the track */
}

#rightDrawer::-webkit-scrollbar-thumb,
#rightDrawer2::-webkit-scrollbar-thumb {
    background: #0DAB76; /* Color of the thumb */
    border-radius: 4em; /* Radius of the thumb */
}

.overlay-text {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-shadow: 20px 10px 10px rgba(0, 0, 0, 0.8);
    font-size: 2.85rem;
    text-align: center;
    width: 90%;
    z-index: 2;
}

.picture-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.picture {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px #0DAB76 solid;
    border-radius: 3em;
    overflow: hidden;
    max-width: 48.9vw;
    max-height: 80vh;
}

.picture img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


/* DRAWERS ON LEFT AND RIGHT HAND SIDE OF THE SCREEN */

.drawer {
    position: fixed;
    top: 16em;
    width: 25em;
    height: 50%;
    background-color: #3370A8;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 1001;
    overflow-y: auto;
    transition: transform 0.4s ease-in-out;
    padding: 1rem;
    border: 2px groove #0DAB76;
    opacity: 95%;
}

.drawer2 {
    position: fixed;
    top: 19em;
    width: 25em;
    height: 33%;
    background-color: #3370A8;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 1001;
    overflow-y: auto;
    transition: transform 0.4s ease-in-out;
    padding: 1rem;
    border: 2px groove #0DAB76;
    opacity: 95%;
}

.drawer-lower-level {
    position: fixed;
    top: 19em;
    width: 25em;
    height: 50%;
    background-color: #3370A8;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 1001;
    overflow-y: auto;
    transition: transform 0.4s ease-in-out;
    padding: 1rem;
    border: 2px groove #0DAB76;
    opacity: 95%;
}

.drawer-lower-level2 {
    position: fixed;
    top: 22em;
    width: 25em;
    height: 37%;
    background-color: #3370A8;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 1001;
    overflow-y: auto;
    transition: transform 0.4s ease-in-out;
    padding: 1rem;
    border: 2px groove #0DAB76;
    opacity: 95%;
}

.drawer h3,
.drawer2 h3,
.drawer-lower-level h3,
.drawer-lower-level2 h3 {
    text-align: center;
}

/* Hidden by default */
.left-drawer {
    left: 0;
    transform: translateX(-100%);
    border-radius: 0 1em 1em 0;
}

.left-drawer2 {
    left: 0;
    transform: translateX(-100%);
    border-radius: 0 1em 1em 0;
}

.right-drawer {
    right: 0;
    transform: translateX(100%);
    border-radius: 1em 0 0 1em;
}

.right-drawer2 {
    right: 0;
    transform: translateX(100%);
    border-radius: 1em 0 0 1em;
}

.right-drawer3 {
    right: 0;
    transform: translateX(100%);
    border-radius: 1em 0 0 1em;
}

.drawer.open,
.drawer2.open{
    transform: translateX(0);
}


.drawer-lower-level.open {
    transform: translateX(0);
}

.drawer-lower-level2.open {
    transform: translateX(0);
}

.drawer-toggle {
    position: fixed;
    top: 1rem;
    z-index: 1000;
    background: #0DAB76;
    color: #000000;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: 2px solid black;
}

.drawer-toggle2 {
    position: fixed;
    top: 1rem;
    z-index: 1000;
    background: #0DAB76;
    color: #000000;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.left-toggle {
    top: 13.5em;
    left: -5.25em;
    border-radius: 0 1em 1em 0;
    transition: left 0.4s ease-in-out;
}

.left-toggle2 {
    top: 16.5em;
    left: -5.95em;
    border-radius: 0 1em 1em 0;
    transition: left 0.4s ease-in-out;
}

.left-toggle:hover,
.left-toggle2:hover{
    left: 0;
}

.right-toggle {
    top: 13.5em;
    right: -8.8em;
    border-radius: 1em 0 0 1em;
    transition: right 0.4s ease-in-out;
}

.right-toggle:hover {
    right: 0;
}

.right-toggle2 {
    top: 16.5em;
    right: -3.4em;
    border-radius: 1em 0 0 1em;
    z-index: 1000;
    transition: right 0.4s ease-in-out;
}

.right-toggle3 {
    top: 19.5em;
    right: -5.7em;
    border-radius: 1em 0 0 1em;
    z-index: 1000;
    transition: right 0.4s ease-in-out;
}

.right-toggle2:hover,
.right-toggle3:hover {
    right: 0;
}

.right-toggle:hover,
.left-toggle:hover,
.left-toggle2:hover,
.right-toggle2:hover,
.right-toggle3:hover {
    color: #f1d302 !important;
    transform: scale(1.10);
    animation: ease-in 0.75s linear;
}



.contact-info p {
    margin-bottom: 0.7rem;
    font-size: 1.1rem;
}

.contact-info a {
    color: #0DAB76;
    text-decoration: none;
}

    .contact-info a:hover {
        text-decoration: underline;
        color: #0a8b60;
    }

.fade-in {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInUp 0.6s ease-out forwards;
}

    .fade-in:nth-child(1) {
        animation-delay: 0.2s;
    }

    .fade-in:nth-child(2) {
        animation-delay: 0.4s;
    }

    .fade-in:nth-child(3) {
        animation-delay: 0.6s;
    }

    .fade-in:nth-child(4) {
        animation-delay: 0.8s;
    }

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/*----------------------------------------------------------*/

/*----------------------------------------------------------*/



.contact-us-container{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    align-content: center;
}

ul {
    list-style: none;
}

.example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-2 .icon-content {
margin: 0 10px;
position: relative;
}

    .example-2 .icon-content .tooltip {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        padding: 6px 10px;
        border: 2px #0DAB76 solid;
        border-radius: 5px;
        opacity: 0;
        visibility: hidden;
        font-size: 16px;
        transition: all 0.3s ease;
    }

.bi.bi-check-circle::before {
    color: #0DAB76 !important;
}

.example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
    border: 2px #0DAB76 solid;
}

.example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px #0DAB76 solid;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.example-2 .icon-content a:hover {
    color: white;
}

.example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
    height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
}

.example-2 .icon-content a[data-social="portfolio"] .filled,
.example-2 .icon-content a[data-social="portfolio"] ~ .tooltip {
    background-color: #0DAB76;
}

.over-social-container-author {
    margin-left: -1.5em;
}

.social-container-author,
.privacy-policy-title {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 2em;
    margin-left: 1em;
}

#author-image {
    min-width: 9.5em;
    height: 9.5em;
    border: 2px #0DAB76 solid;
}

.author-container {
    padding: 0;
    margin-left: 1.5em;
}

.author-container h4 {
    font-family: "Special Gothic Expanded One", sans-serif !important;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
    color: #0DAB76;
}

.author-container p {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
    font-size: 1em;
    font-family: "Special Gothic Expanded One", sans-serif !important;
    color: #0DAB76;
    font-weight: 600;
}