@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Nunito:ital,wght@0,606;1,606&family=Special+Gothic+Expanded+One&display=swap');


.matchFixer {
    font-family: "Special Gothic Expanded One", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.abreviature {
    font-family: "Special Gothic Expanded One", sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    color: #0DAB76;
}

.pulse-goal {
    animation: goalPulse 3s infinite;
    color: #0d6efd;
}

@keyframes goalPulse {
    0%, 100% {
        letter-spacing: normal;
    }

    50% {
        letter-spacing: 2px;
    }
}

.shaky-text:hover {
    animation: shaky 0.8s infinite;
    cursor: pointer;
}

@keyframes shaky {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(2px, -2px);
    }

    50% {
        transform: translate(-2px, 2px);
    }

    75% {
        transform: translate(2px, 2px);
    }

    100% {
        transform: translate(0, 0);
    }
}


.ball-wrapper {
    position: absolute; 
    top: 3em;
    left: 0;
    width: 100vw;
    height: 9em;
    overflow: hidden;
    pointer-events: none;
}

.animated-ball {
    position: absolute;
    animation: bounceAndRoll 12s linear;
    width: 80px;
    will-change: transform;
    pointer-events: none;
    object-fit: contain;
    image-rendering: auto;
    z-index: 10;
}

.soccer-hero{
    margin-top: 7em;
    z-index: 20;
}

@keyframes bounceAndRoll {
    0% {
        left: -80px;
        bottom: 0;
        transform: translateX(-120px) rotate(0deg);
    }

    20% {
        bottom: 30px;
    }

    40% {
        bottom: 20px;
    }

    60% {
        bottom: 30px;
    }

    80% {
        bottom: 0;
    }

    100% {
        left: 100%;
        bottom: 0;
        transform: translateX(110vw) rotate(1080deg);
    }
}

#welcome {
    max-width: 100%;
    height: auto;
    font-family: "Special Gothic Expanded One", sans-serif !important;
    font-weight: 900 !important;
    font-style: normal !important;
    font-size: 3em;
    color: #0DAB76;

}

#rightDrawer::-webkit-scrollbar,
#rightDrawer2::-webkit-scrollbar {
    width: 0em;
}

#rightDrawer::-webkit-scrollbar-track,
#rightDrawer2::-webkit-scrollbar-track {
    background: #0DAB76; /* Color of the track */
}

#rightDrawer::-webkit-scrollbar-thumb,
#rightDrawer2::-webkit-scrollbar-thumb {
    background: #0DAB76; /* Color of the thumb */
    border-radius: 4em; /* Radius of the thumb */
}

.overlay-text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    font-size: 2.5rem;
    z-index: 2;
    width: 100%;
}

.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px #0DAB76 solid;
    border-radius: 3em;
    object-fit: contain;
    overflow: hidden;
}

.picture img {
    max-width: 100%;
    height: auto;
}


/* DRAWERS ON LEFT AND RIGHT HAND SIDE OF THE SCREEN */

.drawer {
    position: fixed;
    top: 16em;
    width: 25em;
    height: 50%;
    background-color: #3370A8;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 1001;
    overflow-y: auto;
    transition: transform 0.4s ease-in-out;
    padding: 1rem;
    border: 2px groove #0DAB76;
    opacity: 95%;
}

.drawer-lower-level {
    position: fixed;
    top: 19em;
    width: 25em;
    height: 50%;
    background-color: #3370A8;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 1001;
    overflow-y: auto;
    transition: transform 0.4s ease-in-out;
    padding: 1rem;
    border: 2px groove #0DAB76;
    opacity: 95%;
}

.drawer h3,
.drawer-lower-level h3{
    text-align: center;
}

/* Hidden by default */
.left-drawer {
    left: 0;
    transform: translateX(-100%);
    border-radius: 0 1em 1em 0;
}

.right-drawer {
    right: 0;
    transform: translateX(100%);
    border-radius: 1em 0 0 1em;
}

.right-drawer2 {
    right: 0;
    transform: translateX(100%);
    border-radius: 1em 0 0 1em;
}

.drawer.open {
    transform: translateX(0);
}

.drawer-lower-level.open {
    transform: translateX(0);
}

.drawer-toggle {
    position: fixed;
    top: 1rem;
    z-index: 1000;
    background: #0DAB76;
    color: #000000;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.drawer-toggle2 {
    position: fixed;
    top: 1rem;
    z-index: 1000;
    background: #0DAB76;
    color: #000000;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.left-toggle {
    top: 13.5em;
    left: -5.15em;
    border-radius: 0 1em 1em 0;
    transition: left 0.4s ease-in-out;
}

.left-toggle:hover {
    left: 0;
}

.right-toggle {
    top: 13.5em;
    right: -8.7em;
    border-radius: 1em 0 0 1em;
    transition: right 0.4s ease-in-out;
}

.right-toggle:hover {
    right: 0;
}

.right-toggle2 {
    top: 16.5em;
    right: -3.3em;
    border-radius: 1em 0 0 1em;
    z-index: 1000;
    transition: right 0.4s ease-in-out;
}

.right-toggle2:hover {
    right: 0;
}

.right-toggle:hover,
.left-toggle:hover,
.right-toggle2:hover{
    color: #f1d302 !important;
    transform: scale(1.10);
    animation: ease-in 1s linear;
}