.navbar {
    background-color: #3370A8 !important;
    border-bottom: 2px #020100 solid !important;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.container-fluid{
    padding-right: 0;
}

.navbar-nav {
    gap: 2em;
}

.navbar-nav .nav-item a,
#logout-button {
    position: relative;
    color: #0DAB76 !important;
    text-shadow: 2px 5px 5px rgba(0,0,0,0.8) !important;
    font-family: "Orbitron", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 700 !important;
    font-style: normal !important;
}

.navbar-nav .nav-item a::after,
#logout-button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #f1d302;
    text-shadow: 0 29px 52px rgba(0,0,0,0.40), 0 25px 16px rgba(0,0,0,0.20);
    transition: width 0.3s;
}

.navbar-nav .nav-item a:hover::after,
#logout-button:hover::after {
    width: 100%;
}


.navbar-collapse {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}

.navbar-collapse ul:nth-child(3) {
    position: absolute;
    right: 20px;
    top: 1.5px;
}

.nav-item a:hover,
#logout-button:hover {
    color: #f1d302 !important;
    transform: scale(1.20);
    animation: ease-in 1s linear;
}

.nav-link {
    font-family: "Cairo", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-size: 1.3em;
}

.rounded-circle {
    width: 50px !important;
    height: auto !important;
    justify-self: center !important;
}

.nav-profile{
    justify-content: center !important;
}

.profile-dropdown-menu li {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.dropdown-menu{
    border: 2px groove #808080;
    width: 15em;
    height: auto;
    border-radius: -1em;
    background-color: #3370A8;
}

.dropdown-menu button {
    width: 14em;
}

.dropdown-menu button span {
    color: #FAF3DD !important
}

.dropdown-menu button span {
    text-align: center;
}

.hover-dropdown:hover .dropdown-menu {
    display: block;
    top: 4.5em;
    right: 2.5em;
}


