.navbar {
    background-color: #3370A8 !important;
    border-bottom: 2px #020100 solid !important;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position: relative;
}

.container-fluid{
    padding-right: 0;
}

.navbar-nav {
    gap: 2em;
}

.navbar-nav .nav-item a,
#logout-button {
    position: relative;
    color: #0DAB76 !important;
    text-shadow: 2px 5px 5px rgba(0,0,0,0.8) !important;
    font-family: "Orbitron", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 700 !important;
    font-style: normal !important;
}

.navbar-nav .nav-item a::after,
#logout-button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #f1d302;
    text-shadow: 0 29px 52px rgba(0,0,0,0.40), 0 25px 16px rgba(0,0,0,0.20);
    transition: width 0.3s;
}

.navbar-nav .nav-item a:hover::after,
#logout-button:hover::after {
    width: 100%;
}

#logout-button:focus,
#logout-button:active {
    outline: none !important;
    box-shadow: none !important;
}

.navbar-collapse {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}

.navbar-collapse ul:nth-child(3) {
    position: absolute;
    right: 20px;
    top: 1.5px;
}

.nav-item a:hover,
#logout-button:hover {
    color: #f1d302 !important;
}

.nav-link {
    font-family: "Cairo", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-size: 1.3em;
}

.rounded-circle {
    width: 60px !important;
    height: auto !important;
    justify-self: center !important;
}

.nav-profile{
    justify-content: center !important;
}


.profile-dropdown-menu{
    position: absolute;
    top: 0.1em;
    right: 0.5em;
}

.profile-dropdown-menu li {
    display: block;
    padding: 0.2em 0.5em;
}

.profile-dropdown-menu li a img{
    border: 2px dotted #0DAB76;
}

.dropdown-menu {
    font-family: "Orbitron", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 700 !important;
    font-style: normal !important;
    border: 2px solid #020100;
    width: 15em;
    height: auto;
    border-radius: 0.25em;
    background-color: #3370A8;
    overflow: visible !important;
}

.dropdown-menu button {
    padding: 0.5em 1em;
    line-height: 1.2;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid transparent;
    transition: all 0.2s ease;
}

.dropdown-menu button:hover {
    background-color: #0DAB76;
    border-radius: 0.75em 0.2em 0.75em 0.2em;
    border: 1px #f1d302 solid;
}

.dropdown-menu button span {
    color: #FAF3DD !important;
    text-shadow: 2px 5px 5px rgba(0,0,0,0.8) !important;
    white-space: nowrap;
}

.dropdown-menu li:hover span {
    color: #f1d302 !important;
}

.dropdown-menu li button span {
    text-align: center;
}

.hover-dropdown:hover .dropdown-menu {
    display: block;
    top: 5em;
    right: 0.1em;
}

.dropdown-menu h6 {
    font-family: "Orbitron", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 700 !important;
    font-style: normal !important;
    font-size: 1.4em;
    color: #08ac93;
    text-shadow: 3px 2px 2px #000000;
    text-align: center !important;
    max-width: 100%;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

