@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000; 1,200..1000&family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Nunito:ital,wght@0,606;1,606&family=Special+Gothic+Expanded+One&display=swap');
@import "/css/navigation.css";
@import "/css/home-page.css";
* {
    font-family: "Nunito", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}
html {
    font-size: 14px;
}

html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    width: 100% !important;
}

body {
    font-size: 1.2em;
    margin-bottom: 60px;
    background-color: #b6cccc !important;
}

.container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}

footer {
    border: 2px #0DAB76 solid;
}