
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Nunito:ital,wght@0,606;1,606&family=Orbitron:wght@400..900&family=Special+Gothic+Expanded+One&display=swap');
@import "/css/cookies/cookies.css";
@import "/css/container-effects.css";
@import "/css/effects/effects.css";
@import "/css/forgot-password.css";
@import "/css/resend-email-confirmation.css";
@import "/css/navigation.css";
@import "/css/home/home-page.css";
@import "/css/privacy.css";
@import "/css/register.css";
@import "/css/login.css";
@import "/css/profile/profile.css";
@import "/css/danger-zone.css";
@import "/css/game/answerResult.css";

* {
    font-family: "Nunito", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}
html {
    font-size: 14px;
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #3370a8;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    background: #0DAB76;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #086b4a;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    width: 100% !important;
}

body {
    font-size: 1.2em;
}

.layout-container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}

footer {
    border: 2px #0DAB76 solid;
    max-width: 1200px;
}

body {
    margin: 0;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Viewport width */
    height: 100vh; /* Viewport height */
    opacity: 0.35;
    z-index: -1;
    overflow: hidden;
    background-image: linear-gradient(-120deg, #6c3 45%, #09f 25%);
    box-shadow: 0 0 0 0rem #258cfb, 0 0 0 0rem #258cfb;
    animation: slide 3s ease-in-out infinite alternate-reverse;
    border: none;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
    border: none;
}

.bg3 {
    animation-duration: 5s;
    border: none;
}

.content {
    background-color: rgba(255,255,255,.8);
    border-radius: .25em;
    box-shadow: 0 0 .25em rgba(0,0,0,.25);
    box-sizing: border-box;
    left: 50%;
    padding: 10vmin;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: monospace;
}

.navbar-collapse,
.navbar-nav {
    gap: 1em;
}

