#admin-users-form {
    margin-top: 6em !important; 
}

.admin-users-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3292b8;
    background: linear-gradient(71deg,rgba(50, 146, 184, 1) 0%, rgba(87, 199, 133, 1) 39%);
    z-index: -1;
    pointer-events: none !important;
}

#admin-users-form,
.table-section,
.table-holder,
.table-responsive.admin-user-table {
    position: relative !important;
    z-index: 1 !important;
}

#admin-users-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pager-holder {
    position: static !important;
    margin-top: .50rem !important;
    display: flex !important;
    justify-content: center !important;
    z-index: auto !important;
}

.pagination {
    display: flex !important;
}

.pagination .page-item,
.pagination .page-link {
    position: static !important;
    z-index: auto !important;
    pointer-events: auto !important;
}

.table-responsive.admin-user-table {
    overflow: visible !important;
}

.admin-users-filter{
    width: 9.5em !important;
    height: 3em !important;
    text-align: start;
}

.admin-users-search,
.filter-search-button {
    height: 3em !important;
}

.user-avatar-img {
    border: 1px white solid !important;
    border-radius: 50% !important;
}