.admin-teams-container{
    margin-top: 5em;
}

.teams-pages {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden; 
    padding-top: 0.5rem;
}

.teams-pages .pagination {
    flex-wrap: wrap; 
    margin: 0;
}

.existing-teams-table{
    font-size: 0.85em;
}