.events-spread-card {
    margin-top: 5.55em;
}

.admin-bets-spread-table th {
    font-size: 0.95em;
}

.admin-bets-spread-table tbody tr td{
    font-size: 0.85em;
}

.progress-home {
    background-color: var(--primary-color);
    color: #ffffff;
}

.progress-draw {
    background-color: var(--accent-color);
    color: black;
}

.progress-away {
    background-color: var(--secondary-color);
    color: black;
}

.projected-home {
    background-color: #004c99;
    color: #e6e6e6;
}
.projected-draw {
    background-color: #b38f00;
    color: #f5f5f5;
}
.projected-away {
    background-color: #8b0000;
    color: #f5f5f5;
}

@media (max-width: 768px) {
    th.league-name,
    td.league-name {
        display: none !important;
    }
}
