.admin-user-bets-card{
    margin-top: 4.5em;
}

.stats-bar {
    display: inline-flex !important;
    width: auto !important;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(8px);
    border-radius: 16px;
    padding: 16px 26px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.10);
}

.stat-label {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 0.65rem;
    font-weight: 600;
    color: #000; 
}

.stat-label i {
    font-size: 1.4rem;
    filter: drop-shadow(0 2px 2px rgba(0,0,0,0.30));
    background-color: black;
    border-radius: 0.3em;
    padding: 0.2em 0.5em;
}

.stats-bar .fw-semibold {
    font-size: 1rem;
}



.re-eval-btn {
    background: linear-gradient(45deg, #0DAB76, #0d6efd, #f1d302);
    background-size: 300% 300%;
    color: #fff !important;
    border: 2px solid black;
    animation: slipGradient 5s ease-in-out infinite;
    font-weight: 700;
    box-shadow: 0 2px 6px rgba(0,0,0,0.45);
}

.re-eval-btn:hover {
    box-shadow: 0 3px 10px rgba(0,0,0,0.35);
    transform: translateY(-1px);
}

@keyframes slipGradient {
    0% {
        background-position: 0% 50%;
    }

    33% {
        background-position: 100% 50%;
    }

    66% {
        background-position: 50% 0%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.stat-wrapper:hover {
    transform: translateY(-2px);
    transition: 0.15s ease;
}

.stat-wrapper i {
    transition: 0.1s ease-in-out;
}

.stat-wrapper:hover i {
    transform: scale(1.08);
}

#user-betslip-table {
    font-size: 0.8em;
    line-height: 1.5;
    text-align: center;
    vertical-align: baseline;
}

.team-logo-user-betslip {
    max-width: 45px;
    max-height: 45px;
    margin: 0.15em;
    object-fit: contain;
}