.admin-teams-container{
    margin-top: 3.75em;
}

.teams-pages {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden; 
    padding-top: 0.5rem;
}

.teams-pages .pagination {
    flex-wrap: wrap; 
    margin: 0;
}

.existing-teams-table{
    font-size: 0.85em;
}

.existing-teams-table table tbody tr td:nth-of-type(3) {
    font-size: 0.80em;
    left:50%;
    top: 50%;
}

.existing-teams-table table tbody tr td:nth-of-type(4){
    font-size: 0.80em;
}