.admin-email-compose-card {
    margin-top: 4.5em;
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
}

.admin-email-compose-card .card-title {
    border: 2px #3370a8 solid;
    border-radius: 0.50em;
    padding: 0.75em;
    color: #ffffff;
    background-color: #3370a8;
    text-shadow: 2px 2px 2px #0dab76;
}

.admin-email-compose-card .card-body {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    border: 2px #0dab76 solid;
    border-radius: 0.75em;
    mask-border-mode:luminance;
}

#audience-form {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.audience-container {
    border: 2px #3370a8 solid;
    border-radius: 0.75em;
    width: 450px;
    
}

.audience-container .form-label {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.role-status-emails-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 1em;
}

.role-status-emails-container .form-label {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.estimated-recepients {
    position: absolute !important;
    top: 0em !important;
    left: 2em !important;
    font-size: 0.75em;
    max-width: 20em;
    height: auto;
    align-content: center;
    justify-content: center;
    padding: 0.3em;

}

#previewModal .preview-email-close-btn {
    position: absolute !important;
    top: 0.7em !important;
    right: 0.7em !important;
    font-size: 0.85em;
}

@media (max-width: 578px) {
    .estimated-recepients > span:first-of-type {
        display: none !important;
    }

    .estimated-recepients {
        font-size: 1.2em;
        padding: 0.75em;
        top: -0.5em !important;
    }
}

.email-subject-container .form-label {
    background-color: #3370a8;
    color: #ffffff;
    max-width: 25%;
}

.email-subject-container input {
    border: 2px solid #3370a8;
    border-radius: 0.5em;
}
.email-body-container .form-label {
    background-color: #0dab76;
    color: #000000;
    max-width: 20%;
}

.email-body-container textarea {
    border: 2px solid #0dab76;
    border-radius: 0.5em;
}

.email-logourl-container .form-label {
    background-color: #3370a8;
    color: #ffffff;
    max-width: 30%;
}

.email-logourl-container input {
    border: 2px solid #3370a8;
    border-radius: 0.5em;
}

.email-subject-container .form-label,
.email-body-container .form-label,
.email-logourl-container .form-label {
    border-radius: 0.35em;
    margin: 0 auto;
    margin-bottom: 0.40em;
}

.confirm-wrap{
    display: flex;
    flex-direction: column;
    max-width: 12em;
}

.confirm-wrap select{
    max-width: 5em;
    margin: 0 auto;
}