#betSlipButtonContainer{
    margin-top: 0.4em;
    margin-right: 0.5em;
}

#betSlipPanel {
    background-color: #3370a8;
}



.bet-slip-panel {
    width: 400px;
    max-height: 100vh; 
    display: flex;
    flex-direction: column;
    background-color: #fff;
    overflow: hidden;
    z-index: 1050; 
    border-left: 1px solid #ddd;
}

#betSlipContent {
    margin-top: 1.5em;
    background-color: #57c785;
    border-radius: 1em;
    text-align: center;
    flex: 1;
    overflow-y: auto;
}

#betCountBadge {
    color: whitesmoke;
    background-color: #53be7f !important;
    margin: 0;
}

#betSlipToggle {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    padding: 0;
    background: transparent; 
}

#betSlipToggle:focus {
    outline: none !important;
    box-shadow: none !important;
}

#odds-multiplier,
#totalOdds {
    text-shadow: 0px 1px 1px white;
}

#potentialReturnContainer strong {
    color: #57c785;
    text-shadow: 0px 2px 2px black;
}

.lightning-icon {
    color: #f7d100;
    animation: electricShake 0.2s infinite;
}

.lightning-icon,
.lightning-icon-all-odds {
    color: #ffd300;
    text-shadow: 0px 2px 2px black;
}

.lightning-flash {
    animation: flashLightning 0.6s ease-in;
}

.lightning-fade {
    animation: flashfade 0.6s ease-in-out;
}

