@import "/css/bet-slip/user-slip-responsive.css";


.slip-container {
    border: 1px solid #000000 !important;
    box-shadow: 0 0 0 0.11rem #3370a8, 0 0 0 0.22rem #0dab76 !important;
}

.card-betslip-body p {
    font-size: 0.80em;
    color: #000000;
    text-shadow: 3px 4px 5px #0dab76 !important;
}

.card-betslip-body h5 {
    font-size: 0.85em;
    color: #ffffff;
    text-shadow: 3px 4px 5px #000000 !important;
}

.card-betslip-body p:first-of-type {
    margin-top: 1em;
}

.custom-card-user-bets {
    background-color: #ffffff;
    width: 100%;
    max-width: 200px;
    border: 2px dotted #0dab76;
    border-radius: 0.5em 1em;
    margin-top: 0.5em;
    margin: 0.5em auto;
    padding: 0.2rem;
    flex: auto;
}

.custom-betslip-card {
    margin-top: 2em !important;
    margin: 0 auto;
    max-width: 60vw;
    width: 100%;
    border: none;
}

.user-bets-table {
    font-size: 0.80rem;
    max-width: 100% !important;
    border-radius: 0.6em;
    border-collapse: separate;
    border-spacing: 0;

}

.user-bets-table td,
.user-bets-table th {
    border: 2px solid #3370a8;
}

.user-bets-table tbody tr {
    border-width: 0;
}

/* Remove Outer borders of the user-bets-table */

.user-bets-table tr:first-of-type td,
.user-bets-table tr:first-of-type th {
    border-top: none !important;
}

.user-bets-table td:first-child,
.user-bets-table th:first-child {
    border-left: none !important;
}

.user-bets-table td:last-child,
.user-bets-table th:last-child {
    border-right: none !important;
}

.user-bets-table tr:last-of-type td {
    border-bottom: none !important;
}

/* Border radius for the bottom half of the user-bets-table */

.user-bets-table tr:last-of-type td:first-child {
    border-bottom-left-radius: 0.6em;
}

.user-bets-table tr:last-of-type td:last-child {
    border-bottom-right-radius: 0.6em;
}

.fuzzy-points {
    background-image: url('/images/bet-slip/noise.png');
    background-size: contain;
    background-color: #00ff21;
    opacity: 90%;
    padding: 0.15rem;
    color: #ffffff;
}