@import "/css/bet-slip/user-slip-responsive.css";


.betslip-submitted {
    background: #ffffff;
    padding: 0.15em 1.5em;
    border: 2px dotted #0dab76;
    border-radius: 0.5em 1em 0.5em 1em;
}

.betslip-submitted p {
    color: black;
    font-size: 0.87rem;
    margin: 0 auto;
    padding: 0.2em 1em;
    text-shadow: 3px 4px 5px #0dab76 !important;
}

.slip-container .card-header {
    background-color: #125fa7 !important;
}

.slip-container {
    border: 1px solid #000000 !important;
    box-shadow: 0 0 0 0.11rem #3370a8, 0 0 0 0.22rem #0dab76 !important;
}

.slip-border-won {
    border: 1px solid #056301 !important;
    box-shadow: 0 0 0 0.11rem #198754, 0 0 0 0.22rem #28a745 !important;
}

.slip-border-lost {
    border: 1px solid #b55656 !important;
    box-shadow: 0 0 0 0.11rem #dc3545, 0 0 0 0.22rem #a71d2a !important;
}

.slip-border-pending {
    border: 1px solid #ffcc00 !important;
    box-shadow: 0 0 0 0.11rem #ffc107, 0 0 0 0.22rem #ffdd57 !important;
}

.custom-card-user-bets p {
    font-size: 0.80em;
    color: #000000;
    text-shadow: 3px 4px 5px #0dab76 !important;
}

.custom-card-user-bets h5 {
    font-size: 0.85em;
    color: #ffffff;
    text-shadow: 3px 4px 5px #000000 !important;
}

.custom-card-user-bets p:first-of-type {
    margin-top: 1em;
}

.custom-card-user-bets {
    border-radius: 0.375rem;
    background-color: #ffffff;
    width: 100%;
    max-width: 200px;
    border: 2px dotted #0dab76;
    border-radius: 0.5em 1em;
    margin-top: 0.5em;
    margin: 0.5em auto;
    padding: 0.2rem;
    flex: auto;
}

.custom-betslip-card {
    margin-top: 2em !important;
    margin: 0 auto;
    max-width: 60vw;
    width: 100%;
    min-height: 75vh;
    border: none;
    background: #3370a8 !important;
    border-radius: 0.75em;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.user-bets-table {
    font-size: 0.80rem;
    max-width: 100% !important;
    border-radius: 0.6em;
    border-collapse: separate;
    border-spacing: 0;

}

.user-bets-table td,
.user-bets-table th {
    border: 2px solid #3370a8;
}

.user-bets-table tbody tr {
    border-width: 0;
}

/* Remove Outer borders of the user-bets-table */

.user-bets-table tr:first-of-type td,
.user-bets-table tr:first-of-type th {
    border-top: none !important;
}

.user-bets-table td:first-child,
.user-bets-table th:first-child {
    border-left: none !important;
}

.user-bets-table td:last-child,
.user-bets-table th:last-child {
    border-right: none !important;
}

.user-bets-table tr:last-of-type td {
    border-bottom: none !important;
}

/* Border radius for the bottom half of the user-bets-table */

.user-bets-table tr:last-of-type td:first-child {
    border-bottom-left-radius: 0.6em;
}

.user-bets-table tr:last-of-type td:last-child {
    border-bottom-right-radius: 0.6em;
}

.fuzzy-points {
    background-image: url('/images/bet-slip/noise.png');
    background-size: contain;
    background-color: #00ff21;
    opacity: 80%;
    padding: 0.15rem;
    color: #ffffff;
    border-radius: 0em 0em 0.375rem 0.375rem;
}

.card-header-bet-totals{
    border-radius: 0.25em !important;
}

.card-header-bet-totals.open {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.alert-custom-info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    background-color: #75b4ed;
    border: 1px solid #056301;
    padding: 1rem 1.25rem;
    border-radius: 0.375rem;
    font-size: 0.95rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    width: 65%;
    text-shadow: 1px 1px 1px #ffffff !important;
}

.alert-custom-info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}

#betSlipTabs{
    font-size: 0.65em;
}


#betSlipTabs #won-tab,
#betSlipTabs #lost-tab,
#betSlipTabs #pending-tab {
    color: white;
}

#won-tab.active {
    background-color: #0dab76 !important;
    color: black !important;
    border-color: black;
    border-bottom: 3px white solid;
}

#pending-tab.active {
    background-color: rgb(255,193,7) !important;
    color: black !important;
    border-color: black;
    border-bottom: 3px white solid;
}

#lost-tab.active {
    background-color: #dc3545 !important;
    color: white !important;
    border-color: black;
    border-bottom: 3px white solid;
}


#won-tab:hover,
#lost-tab:hover,
#pending-tab:hover {
    color: black;
    background-color: #043c6f;
}

.card-header{
    font-size: 0.85em;
}

.betslip-grid{
    max-width: 60%;
}