
.spinner-wrapper {

    width: 3em;
    height: 3em;
    display: inline-block;
}

.spinner-ring {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px outset #6359f8;
    box-shadow: -12px -12px 20px rgba(51, 112, 168, 0.7), 0px -15px 25px rgba(0, 194, 168, 0.6), 12px -12px 20px rgba(241, 211, 2, 0.7), 15px 0px 25px rgba(51, 112, 168, 0.6), 12px 12px 20px rgba(0, 194, 168, 0.7), 0px 15px 25px rgba(241, 211, 2, 0.6), -12px 12px 20px rgba(51, 112, 168, 0.7), -15px 0px 25px rgba(0, 194, 168, 0.6);
    animation: rotateSpinner 0.9s linear infinite;
}

.spinner-wrapper img {
    position: absolute;
    width: 2em;
    height: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

@keyframes rotateSpinner {
    to {
        transform: rotate(360deg);
    }
}


/* Effects for the lightning icon in the all odds container in the bet slip */


@keyframes flashLightning {
    0% {
        color: #f7d100;
        text-shadow: 0 0 10px #fff700, 0 0 20px #fff700, 0 0 30px #fff700;
        transform: scale(1.2);
    }

    100% {
        color: #ffffff;
        text-shadow: none;
        transform: scale(1);
    }
}

@keyframes flashfade {
    0% {
        opacity: 1;
        transform: scale(1);
        text-shadow: none;
    }

    50% {
        opacity: 0.5;
        transform: scale(0.8);
        color: rgba(255, 0, 0, 0.9);
        text-shadow: 0 0 15px rgba(255, 0, 0, 1), 0 0 25px rgba(255, 0, 0, 0.9), 0 0 35px rgba(255, 0, 0, 0.8), 0 0 45px rgba(255, 0, 0, 0.7);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        text-shadow: none;
    }
}

@keyframes rotateSmooth {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-27deg);
    }
}

@keyframes rainbowFlow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


@keyframes splat-move-half-backstop {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 50% 50%;
    }
}

@keyframes splat-expand {
    0% {
        transform: scale(0.5);
        opacity: 0.9;
    }

    100% {
        transform: scale(6);
        opacity: 1;
    }
}