@using MatchFixer.Core.ViewModels.MatchGuessGame;
@model List<LeaderboardEntryViewModel>


@{
    ViewData["Title"] = "MatchFix Guess Game";
}

<div class="game-background"></div>

<div class="football-pitch">
	<img style="width: 1200px; height: auto; object-fit: cover; z-index: -1; position:relative;" src="/images/football-pitch/football-pitch1.png" title="Germany's Bundesliga" />
</div>

<!-- Rules Modal -->
<div class="modal fade" id="rulesModal" tabindex="-1" aria-labelledby="rulesModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			<div class="modal-header d-flex flex-column justify-content-center align-items-center">
				<h4 class="modal-title" id="rulesModalLabel">Rules</h4>
			</div>
			<div class="modal-body">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">⚽ Guess the actual result of <span class="badge bg-primary p-2">10</span> football matches.</li>
					<li class="list-group-item">⚽ Football matches are from the 2023/24 Season in the Premier League, La Liga, Bundesliga and the Serie A.</li>
					<li class="list-group-item">⚽ You have <span class="badge bg-danger p-2">15</span> seconds per match ( fix ) to guess what the actual result is.</li>
					<li class="list-group-item">⚽ You have to guess the correct score for both teams.</li>
					<li class="list-group-item">⚽ You earn <span class="badge bg-success p-2">10</span> points for each correct guess.</li>
					<li class="list-group-item">⚽ If you guess the home or away team score only, you do not get points !</li>
					<li class="list-group-item">⚽ If you guess at least <span class="badge bg-primary p-2">5</span> results out of <span class="badge bg-primary p-2">10</span>, your points ( <span class="badge bg-success p-2">50</span> ) would be doubled to ( <span class="badge bg-success p-2">100</span> ).</li>
					<li class="list-group-item">⚽ When you double your points you start earning  <span class="badge bg-success p-2">20</span> points per correct guess !</li>
					<li class="list-group-item text-center"> Last but not least ---> HAVE FUN AT ALL TIMES !!!</li>
				</ul>
			</div>
		</div>
	</div>
</div>


<!-- Main Screen -->
<div class="container py-5 text-center d-flex flex-column justify-content-center align-items-center" style="padding: 0.8em; max-width:1200px;">
	<h1 id="welcome-to-matchfix" class="mb-4 animate__animated animate__zoomIn">⚽ Welcome to the MatchFix Game! ⚽</h1>
	
	<!-- League Logos  -->
	<div class="mb-2" style="padding: 0.8em; border-radius: 0.5em; max-width: 700px;">
		<div>
			<ul class="d-flex justify-content-center gap-5 mb-2">
				<li>
					<img class="animate__animated animate__fadeInUp animate__slower" style="width: 75px; height: auto; object-fit: cover;" src="https://media.api-sports.io/football/leagues/39.png" title="England's Premier League" />
				</li>
				<li>
					<img class="animate__animated animate__fadeInUp animate__slower" style="width: 75px; height: auto; object-fit: cover;" src="https://media.api-sports.io/football/leagues/140.png" title="Spain's LaLiga" />
				</li>
				<li>
					<img class="animate__animated animate__fadeInUp animate__slower" style="width: 75px; height: auto; object-fit: cover;" src="https://media.api-sports.io/football/leagues/78.png" title="Germany's Bundesliga" />
				</li>
				<li>
					<img class="animate__animated animate__fadeInUp animate__slower" style="width: 75px; height: auto; object-fit: cover;" src="https://media.api-sports.io/football/leagues/135.png" title="Italy's SeriaA" />
				</li>
			</ul>
		</div>
		<p class="animate__animated animate__backInUp animate__slower" id="season">2023/24 Season</p>
	</div>

	<div class="mt-4 d-flex gap-5 justify-content-center">
		<div class="scale-button-wrapper">
			<a href="@Url.Action("Start", "Game")"
			   id="start-game-btn"
			   class="btn btn-success btn-lg px-5 py-3 rounded-pill animate__animated animate__zoomIn animate__slower scale-hover">
				Start Game
			</a>
		</div>
	</div>
	
	<div class="mt-5 d-flex gap-3 justify-content-center">

		<div class="scale-button-wrapper">
			<button type="button"
			        id="rules-btn"
			        class="btn btn-info btn-lg px-4 py-3 rounded-pill animate__animated animate__zoomIn animate__slower scale-hover"
			        data-bs-toggle="modal"
			        data-bs-target="#rulesModal">
				Rules
			</button>
		</div>

		<div class="scale-button-wrapper">
			<a href="@Url.Action("Leaderboard", "Game")"
			   id="leaderboard-btn"
			   class="btn btn-success btn-lg px-5 py-3 rounded-pill animate__animated animate__zoomIn animate__slower scale-hover">
				Leaderboard
			</a>
		</div>
	</div>
</div>

