@model int

<div class="background-profile"></div>

<div class="sponsor-container">
	<div class="sponsor-track" id="sponsorTrack">
		<div class="sponsor-set" id="sponsorSet">
			@for (int i = 0; i < 6; i++)
			{
				<img src="https://media.api-sports.io/football/leagues/39.png" alt="Sponsor 1" />
				<img src="https://media.api-sports.io/football/leagues/140.png" alt="Sponsor 2" />
				<img src="https://media.api-sports.io/football/leagues/78.png" alt="Sponsor 3" />
				<img src="https://media.api-sports.io/football/leagues/135.png" alt="Sponsor 4" />
				<img src="https://media.api-sports.io/football/teams/33.png" alt="Sponsor 5" />
			}

		</div>
	</div>
</div>

<div class="card custom-card shadow-lg rounded-4 p-4" id="game-over-container">
	<div class="card-body text-center">
		<div class="flex-column justify-content-center mt-2">
			<div class="d-flex flex-column justify-content-center align-items-center mt-2 flex-wrap gap-2">
				<h2>Game Over ! Better luck next time !</h2>
				<p>Your final score: 
					<strong>@Model</strong>
					points</p>
				<a href="@Url.Action("Reset", "Game")" class="btn btn-primary">Play Again ?</a>
				
				<a href="@Url.Action("Landing", "Game")" class="btn btn-primary">Back to MatchFix</a>
			</div>				
		</div>
	</div>
</div>



