/*-------------------------------------------------------------------------------------
# RESPONSIVE 
--------------------------------------------------------------------------------------*/
@media (max-width: 3840px) {
    .navbar-collapse {
        font-size: 1em;
    }

    .navbar-nav {
        gap: 0.4rem;
    }



@media only screen and (max-width: 1024px) and (max-height: 768px) {
    .name-image-container {
        width: 100%;
        max-width: 50%;
    }

    .profile-card {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar-collapse {
        font-size: 0.75em;
    }

    .navbar-nav {
        gap: 0.2rem;
    }
}

@media only screen and (max-width: 768px) {


    .name-image-container {
        width: 100%;
        max-width: 50%;
    }

    .profile-card {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .profile-info-container {
        max-width: 20%;
    }

    .navbar-brand img {
        height: 20px;
        width: auto;
    }

    .navbar-collapse {
        font-size: 0.60em;
    }

    .navbar-nav {
        gap: 0.2rem;
    }
}


@media (max-width: 578px) {


    .name-image-container {
        width: 100%;
        max-width: 50%;
    }

    .profile-card {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .profile-info-container {
        min-width: 30% !important;
    }
}

}
