@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password already ? No worries !";
}

<div class="home-background"></div>

<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<div class="forgot-password-title-container">
	<h1 id="forgot-password-title">@ViewData["Title"]</h1>
	<h2>Enter your email below. We will send you a link to reset your password.</h2>
</div>

<hr />
<div class="reset-password-container">
    <div class="col-md-4">
	    <form method="post">
		    @if (!ViewData.ModelState.IsValid)
		    {
			    <div asp-validation-summary="All" class="badge bg-info2 text-dark pt-2 centered-validation" role="alert"></div>
		    }
		    <div class="form-floating mb-3">
			    <input asp-for="Input.Email" id="email-forgot-password" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
			    <label asp-for="Input.Email" class="form-label"></label>
			    <span asp-validation-for="Input.Email" class="badge bg-info text-dark pt-2 centered-validation"></span>
		    </div>
		    <button type="submit" class="w-40 btn btn-lg btn-primary">Reset Password</button>
	    </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
