@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<h1>Enter your email and new password below to reset it.</h1>
<hr />
<div class="reset-password-container">
	<div class="col-md-4">
		<form method="post">
			@if (!ViewData.ModelState.IsValid)
			{
				<div asp-validation-summary="All" class="badge bg-info2 text-dark pt-2 centered-validation" role="alert"></div>
			}
			<input asp-for="Input.Code" type="hidden" />
			<div class="form-floating mb-3" id="email-reset-password">
				<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
				<label asp-for="Input.Email" class="form-label"></label>
				<span asp-validation-for="Input.Email" class="badge bg-info text-dark pt-2 centered-validation"></span>
			</div>
			<div class="form-floating mb-3" id="password-reset-password">
				<input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
				<label asp-for="Input.Password" class="form-label"></label>
				<span asp-validation-for="Input.Password" class="badge bg-info text-dark pt-2 centered-validation"></span>
			</div>
			<div class="form-floating mb-3" id="re-password-reset-password">
				<input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
				<label asp-for="Input.ConfirmPassword" class="form-label"></label>
				<span asp-validation-for="Input.ConfirmPassword" class="badge bg-info text-dark pt-2 centered-validation"></span>
			</div>
			<button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
		</form>
	</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
