.balance-card {
    width: 280px;
    flex-shrink: 0;
    position: sticky;
    top: 6.5rem;
    align-self: start;
    z-index: 10;
}

.balance-euro-icon {
    margin-right: -0.15em;
    margin-top: -0.05em;
}

.transaction-euro-icon {
    font-size: 1em !important;
    margin-right: -0.33em;
}

#deposit-icon{
    position: absolute;
    top: 0.5em;
    left: 0.5em;
}

#withdraw-icon {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

.transactions-table thead{
    margin: 0 auto !important;
}

.wallet-icons-tooltip-wrapper {
    position: relative;
    display: inline-block;
}

.wallet-deposit-tooltip {
    visibility: hidden;
    background-color: #028212;
    color: #ffffff;
    text-align: center;
    padding: 0.3rem 0.3rem;
    border-radius: 9px;
    position: absolute;
    z-index: 999;
    bottom: 100%;
    right: -90%;
    opacity: 0;
    transition: opacity 0.2s;
    white-space: nowrap;
    font-size: 0.75rem;
}

.wallet-withdraw-tooltip {
    visibility: hidden;
    background-color: #b60c0c;
    color: #ffffff;
    text-align: center;
    padding: 0.3rem 0.3rem;
    border-radius: 9px;
    position: absolute;
    z-index: 999;
    bottom: 100%;
    right: -90%;
    opacity: 0;
    transition: opacity 0.2s;
    white-space: nowrap;
    font-size: 0.75rem;
}


.transition-width {
    transition: width 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    width: 24%; /* collapsed width */
}

.transition-width.expanded {
    width: 100%; /* expanded width */
}


.smooth-collapse {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.6s ease, opacity 0.4s ease;
}

.smooth-collapse.show {
    max-height: 1200px;
    opacity: 1;
}

.transactions-table td,
.transactions-table th {
    vertical-align: middle;
    text-align: center;
}

#transactionHeader.collapsed {
    justify-content: center !important;
    align-items: center !important;
    gap: 1rem; 
    height: 80px; 
    text-align: center;
}

#transactionTitle{
    font-size: 1em;
}