@import "/css/wallet/wallet-responsive.css";

.balance-card {
    width: 280px;
    flex-shrink: 0;
    position: sticky;
    top: 6.5rem;
    align-self: start;
    z-index: 10;
   
}

.balance-card .card-body {
    background: #3370a8;
    border-radius: 0.75em;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.balance-card .card {
    background: #000000;
    border-radius: 0.75em;
}

.balance-card .card-title {
    color: white;
    text-shadow: 1px 1px 2px #000000;
}

.balance-card h2 {
    color: #62ef24 !important;
    text-shadow: 1px 1px 2px #000000;
}

.balance-euro-icon {
    margin-right: -0.15em;
    margin-top: -0.05em;
}

.transaction-euro-icon {
    font-size: 1em !important;
    margin-right: -0.33em;
}

#deposit-icon{
    position: absolute;
    top: 0.5em;
    left: 0.5em;
}

#withdraw-icon {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

.wallet-details .card-body {
    background: #3370a8 !important;
    border-radius: 0.75em;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.wallet-details {
    align-self: start;
    background: #000000 !important;
    border-radius: 0.75em !important;
}

.wallet-details .card-title {
    color: white;
    text-shadow: 1px 1px 2px #000000;
}

.transactions-table thead {
    margin: 0 auto !important;
    font-size: 1.1rem;
}


.transactions-table td {
    margin: 0 auto !important;
    font-size: 1rem;
}

.wallet-icons-tooltip-wrapper,
.wallet-clear-history-wrapper{
    position: relative;
    display: inline-block;
}

.wallet-deposit-tooltip {
    visibility: hidden;
    background-color: #028212;
    color: #ffffff;
    text-align: center;
    padding: 0.3rem 0.3rem;
    border-radius: 9px;
    position: absolute;
    z-index: 999;
    bottom: 100%;
    right: -90%;
    opacity: 0;
    transition: opacity 0.2s;
    white-space: nowrap;
    font-size: 0.75rem;
}

.wallet-withdraw-tooltip {
    visibility: hidden;
    background-color: #b60c0c;
    color: #ffffff;
    text-align: center;
    padding: 0.3rem 0.3rem;
    border-radius: 9px;
    position: absolute;
    z-index: 999;
    bottom: 100%;
    right: -90%;
    opacity: 0;
    transition: opacity 0.2s;
    white-space: nowrap;
    font-size: 0.75rem;
}

.wallet-clear-history-tooltip {
    visibility: hidden;
    background-color: #8906dc;
    color: white;
    text-align: center;
    padding: 0.3rem 0.4rem;
    border-radius: 9px;
    position: absolute;
    z-index: 999;
    bottom: 125%; /* place tooltip above */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s;
    white-space: nowrap;
    font-size: 0.75rem;
}

/* Tooltip visibility on hover */
.wallet-clear-history-wrapper:hover .wallet-clear-history-tooltip {
    visibility: visible;
    opacity: 1;
}

.transition-width {
    transition: width 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    width: 24%; /* collapsed width */
}

.transition-width.expanded {
    width: 100%; /* expanded width */
}


.smooth-collapse {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.6s ease, opacity 0.4s ease;
}

.smooth-collapse.show {
    max-height: 1200px;
    opacity: 1;
}

.transactions-table td,
.transactions-table th {
    vertical-align: middle;
    text-align: center;
}

#transactionHeader.collapsed {
    justify-content: center !important;
    align-items: center !important;
    gap: 1rem; 
    height: 80px; 
    text-align: center;
}

#transactionTitle{
    font-size: 1em;
}


/* CUSTOM OUTLINE BUTTON CSS ( HIDE/SHOW ) */

.btn-outline-gold {
    color: #f1d302;
    border-color: transparent;
    background-color: transparent;
}

.btn-outline-gold:hover {
    color: #000;
    background-color: #f1d302;
    border-color: #f1d302;
}

.btn-outline-gold:focus,
.btn-outline-gold.focus {
    color: #000;
    background-color: #f1d302;
    border-color: #f1d302;
    box-shadow: 0 0 0 0.25rem rgba(241, 211, 2, 0.5) !important;
}

.btn-outline-gold:active,
.btn-outline-gold.active,
.show > .btn-outline-gold.dropdown-toggle {
    color: #000;
    background-color: #d4b700;
    border-color: #c0a800;
}

.btn-outline-gold:active:focus,
.btn-outline-gold.active:focus,
.show > .btn-outline-gold.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(241, 211, 2, 0.5) !important;
}

/* CUSTOM OUTLINE BUTTON CSS ( CLEAR HISTORY ) */

.btn-outline-purple {
    color: #ff00bb;
    border-color: transparent;
    background-color: transparent;
    text-shadow: 0px 1px 1px #000000;
}

.btn-outline-purple:hover {
    color: white;
    background-color: #8906dc;
    border-color: #8906dc;
}

.btn-outline-purple:focus,
.btn-outline-purple.focus {
    color: #000;
    background-color: #8906dc;
    border-color: #8906dc;
    box-shadow: 0 0 0 0.25rem rgba(137, 6, 220, 0.5);
}

.btn-outline-purple:active,
.btn-outline-purple.active,
.show > .btn-outline-purple.dropdown-toggle {
    color: white;
    background-color: #d4b700;
    border-color: #c0a800;
}

.btn-outline-purple:active:focus,
.btn-outline-purple.active:focus,
.show > .btn-outline-purple.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(137, 6, 220, 0.5);
}

.bg-winnings {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    background-color: #1c3b8a !important;
    color: ghostwhite !important;
    text-align: center !important;
    padding: 0.3em;
    max-width: 100%;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-shadow: 0px 1px 1px #000000;
}

