
.add-match-event-container {
    max-width: 60%;
    margin: 0 auto;
    margin-top: 5rem !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teams-information{
    max-width: 66.6%;
    min-width: 25em;
}

.add-team-league-label {
    font-family: "Orbitron", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 800 !important;
    font-style: oblique !important;
    color: #333;
}

#team-selection-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #3370a8;
    border-radius: 0.45em;
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
    padding: 1em;
    background: #2A7B9B;
    background: linear-gradient(252deg, rgba(42, 123, 155, 1) 0%, rgba(52, 140, 150, 1) 18%, rgba(61, 156, 145, 1) 41%, rgba(76, 181, 138, 1) 64%, rgba(87, 199, 133, 1) 85%);
}

#home-team-select,
#away-team-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="%2308ac93" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592c.86 0 1.319 1.013.753 1.658l-4.796 5.482a1 1 0 0 1-1.506 0z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.5em center;
    background-size: 0.85em;
    cursor: pointer;
    transition: border-color 0.2s, box-shadow 0.2s;
    position: relative;
    display: inline-block;
    overflow-y: auto;
}


#dateAndTime {
    max-width: 30%;
    margin: 0 auto;
}

#dateAndTime .form-label {
    font-family: 'Inclusive Sans', sans-serif !important;
    font-weight: 550 !important;
    color: #124e86;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 1px 1px #03ffd1;
}


.home-odds,
.away-odds,
.draw-odds {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 25%;
}

.home-odds label,
.away-odds label,
.draw-odds label {
    font-family: 'Inclusive Sans', sans-serif !important;
    font-weight: 550 !important;
    color: #124e86;
    text-shadow: 0px 1px 1px #03ffd1;
}

/*----------------------------------------------------------------
|             MODEL ERRORS SPAN + VALIDATION ERRORS              |
-----------------------------------------------------------------*/

#model-error-add-event {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3370a8;
    margin: 0em !important;
    padding: 0.5em !important;
    color: #ffffff !important;
    border-radius: 0.5em;
    border: 1px solid #2A7B9B;
}

.validation-add-event {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3370a8;
    margin-top: 0.30em;
    padding: 0.5em !important;
    color: #000000 !important;
    border-radius: 0.5em;
    font-size: 0.65em;
    display: none; /* Hide by default */
}

.validation-add-event.field-validation-error {
    display: block; /* Show only when there's an error */
}

.centered-validation.field-validation-error {
    display: block; /* Show only when there's an error */
}

#model-error-add-event ul {
    margin: 0em !important;
    padding: 0em !important;
}

#model-error-add-event ul li{
    font-size: 0.85em;
}

#model-error-add-event.field-validation-error {
    display: block !important;
}

#live-events-table {
    font-size: 0.65em;
}

table.responsive-stack {
    width: 100%;
    border-collapse: collapse;
}

table.responsive-stack th,
table.responsive-stack td {
    padding: 0.5rem;
    border: 1px solid #ddd;
    text-align: center;
}

@media (max-width: 768px) {

    table.responsive-stack,
    table.responsive-stack thead,
    table.responsive-stack tbody,
    table.responsive-stack th,
    table.responsive-stack td,
    table.responsive-stack tr {
        display: block;
        width: 100%;
    }

    table.responsive-stack thead tr {
        display: none; 
    }

    table.responsive-stack tr {
        margin-bottom: 1.5rem;
        border: 1px solid #ccc;
        padding: 0.75rem;
        border-radius: 0.5rem;
    }

    table.responsive-stack td {
        position: relative;
        border: none;
        border-bottom: 1px solid #eee;
    }

    table.responsive-stack td:first-of-type{
        font-size: 1em !important;
    }

    table.responsive-stack td:last-child span{
        border-bottom: 0;
    }

    table.responsive-stack td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        top: 0;
        padding-left: 0.75rem;
        font-weight: bold;
        white-space: nowrap;
    }
}

.responsive-stack td span{
    font-size: 0.90em;
}

.update-event-btn{
    margin-left: 0.3rem;
}
 