
.team-logo.hoverable-logo {
    transition: transform 0.2s;
    cursor: pointer;
}

.team-logo.hoverable-logo:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.2));
}

.live-event-card {
    display: flex;
    font-size: 0.75em;
    background-color: #CAE9FF;
    border-radius: 5% 10%;
    min-height: 23em;
}

.event-team-name {
    font-size: 1em;
    word-wrap: break-word;
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.2));
    text-shadow: 0px 1px 1px white;
}

.odds-table button{
    border: none;
    background-color: #ffffff;
}

.odds-table:hover button {
    border-radius: 0.75em;
    background-color: #65feb3;
}
/* Custom pill classes */
.pill-brand-green {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 800;
    line-height: 1.5;
    color: white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50rem;
    background-color: #0DAB76;
    text-shadow: 0px 1px 1px black;
}

.pill-brand-blue {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 800;
    line-height: 1.5;
    color: white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50rem;
    background-color: #0d6efd;
    text-shadow: 0px 1px 1px black;
}

.pill-brand-yellow {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 800;
    line-height: 1.5;
    color: white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50rem;
    background-color: #f1d302;
    color: #000000;
    text-shadow: 0px 1px 1px white;
}

.pill-brand-green:hover {
    background-color: #0b8a5e;
}

.pill-brand-blue:hover {
    background-color: #0a58ca;
}

.pill-brand-yellow:hover {
    background-color: #d9bb00;
}

.pill-brand-green,
.pill-brand-blue,
.pill-brand-yellow {
    font-family: 'Inclusive Sans', sans-serif !important;
    font-weight: 800 !important;
    font-size: 0.85rem;
}

.text-brand-oxford-blue {
    background-color: #0a58ca;
    width: 60%;
    padding: 0 0.1rem;
    align-self: center;
    color: white !important;
    border-radius: 0.5em;
    text-shadow: 0px 1px 1px black;
}

.highlighted-column {
    background-color: #65feb3 !important;
    color: #000000 !important;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

#oneVsOneContainer {
    position: relative;
}

#derby-match-icon {
    position: relative;
    top: 0.3em;
    left: 1.2em;
}

.derby-negative-margin {
    margin-top: -2.2em !important; 
}

/* --------------------------------------------------------------
|  CUSTOM TOOPTIP ON HOVER FOR ALL REMOVE BUTTONS IN THE BETSLIP |
--------------------------------------------------------------- */

.custom-event-tooltip-wrapper,
.derby-match-tooltip-wrapper {
    position: relative;
    display: inline-block;
}

.custom-event-tooltip {
    visibility: hidden;
    background-color: #0a58ca;
    color: ghostwhite;
    text-align: center;
    padding: 0.3rem 0.3rem;
    border-radius: 4px;
    position: absolute;
    z-index: 999;
    bottom: 1%;
    right: 0.1rem;
    transform: translateX(-20%);
    opacity: 0;
    transition: opacity 0.2s;
    white-space: nowrap;
    font-size: 0.75rem;
}

.derby-match-tooltip {
    visibility: hidden;
    background-color: #f1d302;
    color: black;
    text-align: center;
    padding: 0.3rem 0.3rem;
    border-radius: 9px;
    position: absolute;
    z-index: 999;
    bottom: 100%;
    right: -90%;
    opacity: 0;
    transition: opacity 0.2s;
    white-space: nowrap;
    font-size: 0.75rem;
}

.custom-event-tooltip-wrapper:hover .custom-event-tooltip {
    visibility: visible;
    opacity: 1;
}

.derby-match-tooltip-wrapper:hover .derby-match-tooltip {
    visibility: visible;
    opacity: 1;
}

.custom-event-tooltip-wrapper i {
    font-size: 1.3em;
    position: absolute;
    top: 0.1em;
    right: 0.1em;
}

#remove-bet-button:hover .custom-event-tooltip-wrapper i {
    color: #ce1f37;
}

#odds-multiplier {
    margin: 1.2rem;
    font-size: 1Rem;
}

#odds-multiplier strong,
#totalOdds,
#betAmount,
#potentialReturnContainer,
#potentialReturnContainer strong,
#potentialReturnOddsContainer strong,
#amountContainer span {
    font-family: "Orbitron", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 750 !important;
    font-style: normal !important;
}

#betAmount::-webkit-outer-spin-button,
#betAmount::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#betAmount {
    font-size: 0.95em;
    background-color: #57c785;
    text-align: center;
    -moz-appearance: textfield;
}

/*----------------------------------------------------------------
|        RESPONSIVE FOR THE TEAM NAMES ON SMALLER SCREENS         |
-----------------------------------------------------------------*/
@media (max-width: 1280px) {
    .event-team-name {
        font-size: 0.75em;
    }
}

@media (max-width: 780px) {
    .event-team-name {
        font-size: 1.25em;
    }
}


/*----------------------------------------------------------------
|        EVENT MASK WHEN AN EVENT'S STARTING TIME HAS PASSED      |
-----------------------------------------------------------------*/

.event-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.65);
    color: #65feb3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 10;
    font-size: 1.95rem;
    border-radius: 5% 10%;
    will-change: transform;
}

.event-mask .mask-content {
    padding: 1rem;
}

.mask-content {
    white-space: nowrap;
}

.mask-rotated {
    animation: rotateSmooth 1s ease-in-out forwards;
}

.countdown {
    margin-top: 0.5rem;
    font-size: 1rem;
}

#event-countdown{
    font-size: 0.75rem;
    width: 37%;
    margin: 0 auto;
    padding: 0;
    border: 2px solid red;
    border-radius: 0.5em;
    background-color: tomato;
    color: ghostwhite !important;
    text-shadow: 1px 1px 1px black !important;
}


.event-countdown {
    padding: 0.35em 0.55em !important;
    font-size: 0.75em;
    width: 27%;
    margin: 0 auto;
    border: 2px solid #f1d302;
    border-radius: 0.5em;
    background-color: orange !important;
    color: black !important;
    text-shadow: 1px 1px 1px white !important;
}

#home-header .bet-option {
    background-color: white;
    color: black;
    border: 2px solid #0a58ca;
    border-radius: 0.75em;
}

#draw-header .bet-option {
    background-color: white;
    color: black;
    border:2px solid #f1d302;
    border-radius: 0.75em;
}

#away-header .bet-option {
    background-color: white;
    color: black;
    border: 2px solid #0DAB76;
    border-radius: 0.75em;
}

#home-header:hover .bet-option {
    background-color: #0a58ca;
    color: white;
}

#draw-header:hover .bet-option {
    background-color: #f1d302;
    color: black;
}

#away-header:hover .bet-option {
    background-color: #0DAB76;
    color: white;
}
